<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>

<h1><%= "We're interested in #{@subactivity.interest_name} #{@subactivity.activity_name}: #{@subactivity.name}" %></h1>
<br>
<h2><%= @subactivity.description %>
<br>
<br>
<h2>Created at: <%= @subactivity.created_month_day_year %></h2>
<br>
<h2>Latest update: <%= @subactivity.updated_month_day_year %></h2>
<br>


<h3>-----MEMBER LIST-----</h3>
<ul>
  <% @subactivity.all_users.each_with_index do |user, index| %>
    <li>
      <%= index + 1 %>.)
      <%= user.first_name %> <%= user.last_name %>:
      <%= link_to(user.email, user_path(user)) %><br>
    </li>
  <% end %>
</ul>
<p>--------------<p>
<!-- message board -->
<!-- planning calendar -->
<!-- embed google map -->
<!-- pull in a list of related links? -->

<% if is_admin? %>
  <%= link_to "Edit subactivity", edit_subactivity_path(@subactivity) %><br>
  <%= link_to "Delete subactivity", @subactivity, method: :delete %>
<% end %>







<!-- HOBBYISTS -->
  <!-- if commitment is 1 -->
    <!-- WEBPAGE FOR HOBBYISTS -->
  <!-- end -->

<!-- PART TIMERS -->
  <!-- if commitment is 2 -->
    <!-- WEBPAGE FOR PART TIMERS -->
  <!-- end -->

<!-- INTENSE -->
  <!-- if commitment is 2 -->
    <!-- WEBPAGE FOR PART TIMERS -->
  <!-- end -->
