<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <h3 class="title">Log In</h3>
          <!-- <p class="subtitle">Add your details to proceed.</p> -->
        </div>
        <div class="box avatar-box">
          <figure class="avatar">
            <img src="https://placehold.it/128x128">
          </figure>


          <%= form_for(:session, url: login_path) do |f| %>

            <%# f.label :email %>
            <div class="field">
              <div class="control">
                <%= f.email_field :email, class: "input", placeholder: "Email", required: true, autofocus: true %>
              </div>
            </div>
                <%# f.label :password %>
            <div class="field">
              <div class="control">
                <%= f.password_field :password, class: "input", placeholder: "Password", required: true, autofocus: false %>
              </div>
            </div>

            <%= f.submit "Log in", class: "button is-dark is-fullwidth" %>
          <% end %>

        </div>
        <!-- <div class="box"> -->
          <h4 class="is-dark"><strong>
            <%= link_to "Sign up", new_user_path%> &nbsp;·&nbsp;
            <%= link_to "Back to home page", root_path %>
          </strong></h4>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
