
<% provide(:title, 'Sign up') %>
<!-- <h1>Sign up</h1> -->

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <h3 class="title">Sign Up</h3>
          <p class="subtitle">Add your details to proceed.</p>
        </div>
        <div class="box">
          <figure class="avatar">
            <img src="https://placehold.it/128x128">
          </figure>

          <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages' %>
            <!-- <%= f.label :first_name %> -->
            <div class="field">
              <div class="control">
                <%= f.text_field :first_name, class: "input", placeholder: "First Name", required: true, autofocus: true %>
              </div>
            </div>

            <!-- <%= f.label :last_name %> -->
            <div class="field">
              <div class="control">
                <%= f.text_field :last_name, class: "input", placeholder: "Last Name", required: true, autofocus: false %>
              </div>
            </div>

            <!-- <%= f.label :email %> -->
            <div class="field">
              <div class="control">
                <%= f.text_field :email, class: "input", placeholder: "Email", required: true, autofocus: false %>
              </div>
            </div>

            <!-- <%= f.label :city %> -->
            <div class="field">
              <div class="control">
                <%= f.text_field :city, class: "input", placeholder: "City", required: true, autofocus: false %>
              </div>
            </div>

            <!-- <%= f.label :state %> -->
            <div class="field">
              <div class="control">
                <%= f.text_field :state, class: "input", placeholder: "State", required: true, autofocus: false %>
              </div>
            </div>

            <!-- <%= f.label :password %> -->
            <div class="field">
              <div class="control">
                <%= f.password_field :password, class: "input", placeholder: "Password", required: true, autofocus: false %>
              </div>
            </div>

            <!-- <%= f.label :password_confirmation, "Confirmation" %> -->
            <div class="field">
              <div class="control">
                <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirm Password", required: true, autofocus: false %>
              </div>
            </div>

            <%# f.check_box %>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <%= f.label :admin %>
            <%= f.check_box(:admin, class: "checkbox" ) %>

            <%= f.submit "Sign Up!", class: "button is-dark is-fullwidth" %>
            <!-- "button is-block is-large is-fullwidth" -->
          <% end %>

        </div>
        <p class="has-text-grey">
          <a href="../">Log In</a> &nbsp;·&nbsp;
          <!-- <a href="../">Forgot Password</a> &nbsp;·&nbsp; -->
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
