<h1>WELCOME!!</h1>

<h3>I'm interested in...<h3>

<div class="container">
  <div class="section">
    <div class="row">

      <div class="col s12 m4">
        <%= link_to('Learning', 'interests/1') %>
      </div>
      <div class="col s12 m4">
        <%= link_to('Traveling', 'interests/2') %>
      </div>
      <div class="col s12 m4">
        <%= link_to('Volunteering', 'interests/3') %>
      </div>
      <div class="col s12 m4">
        <%= link_to('Moving', 'interests/4') %>
      </div>
      <div class="col s12 m4">
        <%= link_to('Playing', 'interests/5') %>
      </div>
      <div class="col s12 m4">
        <%= link_to('Doing', 'interests/6') %>
      </div>

    </div>
  </div>
</div>

<h3>For example...</h3>
<p>I'm interested in learning a foreign language!</p>
<p>I'm interested in traveling to Europe!</p>
<p>I'm interested in volunteering for the homeless!</p>
<p>I'm interested in moving to New York City!</p>
<p>I'm interested in playing soccer!</p>
<p>I'm interested in doing dance lessons!</p>
