<div class="box banner-box cta ">
    <p class="has-text-centered">
      Welcome to Connectly! Let's explore your interests.
    </p>
</div>

  <!-- <div class="section"> -->
  <div class="welcome-index-container">
    <div class="columns">
      <div class="column is-one-third text_center">
        <div class="card">
          <div class="card-image has-text-centered">
            <div style="font-size: 4rem">
              <i class="fa fa-chess"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <h4><%= link_to(name_of_interest(1), 'interests/1') %></h4>
              <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch.</p>
              <ul>
                <li><%= random_three_activities(1) %></li>

              </ul>
            </div>
          </div>
        </div>
      </div> <!-- column -->
      <div class="column is-one-third text_center">
        <div class="card">
          <div class="card-image has-text-centered">
            <div style="font-size: 4rem">
              <i class="fa fa-globe"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <h4><%= link_to(name_of_interest(2), 'interests/2') %></h4>
              <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch.</p>
              <ul>
                <li><%= random_three_activities(2) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- column -->
      <div class="column is-one-third text_center">
        <div class="card">
          <div class="card-image has-text-centered">
            <div style="font-size: 4rem">
              <i class="fas fa-graduation-cap"></i>
              <!-- <i class="fa fa-money-bill"></i> -->
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <h4><%= link_to(name_of_interest(3), 'interests/3') %></h4>
              <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch.</p>
              <ul>
                <li><%= random_three_activities(3) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- column -->
    </div> <!-- columns -->

    <div class="columns columns-below">
      <div class="column is-one-third text_center">
        <div class="card">
          <div class="card-image has-text-centered">
            <div style="font-size: 4rem">
              <!-- <i class="fab fa-fort-awesome"></i> -->
              <i class="fas fa-map"></i>
              <!-- <i class="fal fa-futbol"></i> -->
              <!-- <i class="fa fa-money-bill"></i> -->
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <h4><%= link_to(name_of_interest(4), 'interests/4') %></h4>
              <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch.</p>
              <ul>
                <li><%= random_three_activities(4) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- column -->
      <div class="column is-one-third text_center">
        <div class="card">
          <div class="card-image has-text-centered">
            <div style="font-size: 4rem">
              <!-- <i class="fal fa-futbol"></i> -->
              <!-- <i class="fa fa-glass-martini"></i> -->
              <!-- <i class="fa fa-music"></i> -->
              <i class="far fa-hand-paper"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <h4><%= link_to(name_of_interest(5), 'interests/5') %></h4>
              <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch.</p>
              <ul>
                <li><%= random_three_activities(5) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- column -->
      <div class="column is-one-third text_center">
        <div class="card">
          <div class="card-image has-text-centered">
            <div style="font-size: 4rem">
              <!-- <i class="fal fa-futbol"></i> -->
              <!-- <i class="fa fa-glass-martini"></i> -->
              <!-- <i class="fa fa-music"></i> -->
              <i class="fab fa-fort-awesome"></i>
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <h4><%= link_to(name_of_interest(6), 'interests/6') %></h4>
              <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch.</p>
              <ul>
                <li><%= random_three_activities(6) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- column -->
    </div> <!-- columns -->
  </div>
  <!-- </div> --> <!-- section -->


<%# link_to "SIGN UP", signup_path %>
<%# link_to "SIGN IN", login_path %>
