<h1>I'm interested in <%= @interest.name.downcase %> ...</h1>

<h3> <%= @interest.what_activity_question %> </h3>


<%= form_for @activity do |f| %>
  <%= f.label :name, "Options (or create your own)" %>
  <%= f.text_field :name, list: 'activities_autocomplete' %>
  <datalist id="activities_autocomplete">
    <% @interest.all_activities.each do |activity| %>
      <option value="<%= activity.name %>" >
    <% end %>
  </datalist>
  <%= f.submit %>
<% end %>



<%= link_to "Edit Interest #{@interest.name}", edit_interest_path(@interest) %> <br>
<%= link_to "Delete Interest #{@interest.name}", @interest, method: :delete %>
<!-- list all interests associated with this interest -->
