<br>
<br>
<br>
<br>
<br>

<h1>I'm interested in <%= @interest.name.downcase %>...</h1>


<%= form_for @activity do |f| %>
  <%= f.label :name, "#{@interest.what_activity_question}" %>
  <%= f.text_field :name, list: 'activities_autocomplete' %>
  <datalist id="activities_autocomplete">
    <% @interest.all_activities.each do |activity| %>
      <option value="<%= activity.name %>" >
    <% end %>
  </datalist>

  <%= f.hidden_field(:interest_id, value: @interest.id ) %>
  <%= f.submit "Submit"%>
<% end %>

 


<!-- list all interests associated with this interest -->
