<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Create a New Activity</h1>

<% @activity.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>


<%= form_for @activity do |f| %>
  <%= f.label :name %> <br>
  <% if @activity.name %>
    <%= f.text_field :name, placeholder: @activity.name %> <br>
  <% else %>
    <%= f.text_field :name %> <br>
  <% end %>

  <%= f.label :description %><br>
  <%= f.text_area :description, placeholder: "Add a description" %><br>


  <%= f.submit %>
<% end %>
