<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>I'm interested in <%= @activity.name_of_interest %> <%= @activity.insert_preposition %> <%= @activity.name %>...</h1>

<h1> <%= @activity.description %> </h1>

<%= form_for @subactivity do |f| %>
  <%= f.label :name, "#{@activity.what_subactivity_question} " %>
  <%= f.text_field :name, list: 'subactivities_autocomplete' %>
  <datalist id="subactivities_autocomplete">
    <% @activity.all_subactivities.each do |subactivity| %>
      <option value="<%= subactivity.name %>" >
    <% end %>
  </datalist>

  <%= f.hidden_field(:interest_id, value: @activity.id ) %>
  <%= f.submit "Submit"%>
<% end %>



<% if is_admin? %>
  <%= link_to "Edit Activity #{@activity.name}", edit_activity_path(@activity) %>
  <%= link_to "Delete Activity #{@activity.name}", @activity, method: :delete %>
<% end %>
<!-- list all interests associated with this activity -->
