  <%# form_for @subactivity do |f| %>
  <%# f.label :name, "#{@activity.what_subactivity_question} " %>
  <%# f.text_field :name, list: 'subactivities_autocomplete' %>
  <!-- <datalist id="subactivities_autocomplete"> -->
    <%# @activity.all_subactivities.each do |subactivity| %>
      <!-- <option value="<%# subactivity.name %>" > -->
    <%# end %>
  <!-- </datalist> -->

  <%# f.hidden_field(:interest_id, value: @activity.id ) %>
  <%# f.submit "Submit"%>
<%# end %>




<!-- list all interests associated with this activity -->

<!-- <h1>I'm interested in <%# @interest.name.downcase %>...</h1> -->
<!-- <section class="hero is-fullheight">
  <div class="hero-body"> -->
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <!-- <div class="box"> -->

          <div class="box banner-box cta ">
              <p class="has-text-centered">
                I'm interested in <%= @activity.name_of_interest %> <%= @activity.insert_preposition %> <%= @activity.name %>...
              </p>
          </div>

          <div class="box banner-box cta description-box">
              <p class="has-text-centered">
                <%= @activity.description %>
              </p>
          </div>

          <%= form_for @subactivity do |f| %>
            <%# f.label :name, "#{@interest.what_activity_question}" %>
            <div class="field">
              <div class="control">
                <%= f.text_field :name, list: 'subactivities_autocomplete', class: "input", placeholder: "#{@activity.what_subactivity_question}" %>
              </div>
            </div>
            <div class="field">
              <!-- <div class="control"> -->
                <datalist id="subactivities_autocomplete">
                  <% @activity.all_subactivities.each do |subactivity| %>
                    <option value="<%= subactivity.name %>" >
                  <% end %>
                </datalist>
              <!-- </div> -->
            </div>

            <%= f.hidden_field(:activity_id, value: @activity.id ) %>
            <%= f.submit "Keep Going!", class: "button is-dark" %>
          <% end %>

          <!-- <div class="field">
            <div class="control">
              <%# f.email_field :email, class: "input", placeholder: "Email", required: true, autofocus: true %>
            </div>
          </div> -->


      </div>
    </div>
  <!-- </div>
</section> -->
<% if is_admin? %>
  <%= link_to "Edit activity", edit_activity_path(@activity) %><br>
  <%= link_to "Delete activity", @activity, method: :delete %>
<% end %>

<!-- list all interests associated with this interest -->
